<label>Create a comment</label>
<form ng-submit="createComment(post)">
  <div class="row">
    <div class="col-md-2">
      <label>Author</label>
    </div>
    <div class="col-md-10">
      <input type="text" ng-model="newComment.author">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label>Comment</label>
    </div>
    <div class="col-md-10">
      <textarea ng-model="newComment.body"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <input type="submit" value="Submit">
    </div>
  </div>
</form>