<!DOCTYPE html>
<html lang="en" ng-app="BB">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bulletin Board</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>

<body ng-cloak class="container-fluid">

<h1 class="text-center">NoSQL Bulletin Board</h1>

<div class="row">

  <aside class="col-md-4 recent-comments-container" ng-controller="RecentCommentsCtrl" ng-init="init()">

    <h3>Recent Comments</h3>
    <comment ng-repeat="comment in comments | orderBy : '-created_at'">
    </comment>

  </aside>

  <section class="col-md-8 posts-container" ng-controller="PostsCtrl" ng-init="init()">

    <h3>Posts</h3>
    <article ng-repeat="post in posts">
      <h2>{{post.title}}</h2>
      <p>Posted on {{post.created_at | date : "longDate"}} by {{post.author}}</p>
      <p>{{post.body}}</p>
      <comment-form></comment-form>
      <comment ng-repeat="comment in post.comments | orderBy : '-vote_score'">
      </comment>
    </article>

  </section>
</div>

</body>

<script src="app.js"></script>

</html>