.posts-container {
  padding-right: 17%;
}

.recent-comments-container {
  padding-left: 7%;
}

h4 {
  margin-bottom: 0;
}

small {
  margin-bottom: 20px;
}

.glyphicon:hover {
  color: blue;
  cursor: pointer;
}

.glyphicon:active {
  color: red;
}

form {
  border: solid 1px black;
  margin-right: 100px;
  padding: 10px;
}